@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 1;
    }
    .masonry-sm {
      column-gap: 1.5em;
      column-count: 2;
    }
    .masonry-md {
      column-gap: 1.5em;
      column-count: 3;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
@layer base {
  h1 {
    @apply text-5xl md:text-4xl lg:text-6xl font-agblack text-center mb-8;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl font-agbold uppercase my-6;
  }

  h3 {
    @apply text-lg md:text-xl lg:text-2xl font-agbold uppercase my-4;
  }

  h4 {
    @apply text-base md:text-lg font-agbold my-2;
  }
  p a{
    text-decoration: underline;
    color:#F00;
  }
  p a:hover{
    color:orange;
  }
}
@font-face {
  font-family: 'AgencyFB BlackWide';
  src: url('../fonts/AgencyFB-BlackWide.woff2') format('woff2'),
      url('../fonts/AgencyFB-BlackWide.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AgencyFB';
  src: url('../fonts/AgencyFB-Bold.woff2') format('woff2'),
      url('../fonts/AgencyFB-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AgencyFB';
  src: url('../fonts/AgencyFB-Regular.woff2') format('woff2'),
      url('../fonts/AgencyFB-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
